
/*Este archivo es para importar mas archivos con clases para los estilos del documento*/

@import "utils/reset";
@import "utils/grid";
@import "utils/variables";
@import "utils/fuentes";
@import "blocks/contenido";
/*BLOCKS*/
@import "blocks/cabecera";
@import "blocks/encabezado";
@import "blocks/formulario";
@import "blocks/contentForm";
@import "blocks/boton";
@import "blocks/opinion";
@import "blocks/opiniones";
@import "blocks/mapa";
@import "blocks/pieDePagina";
//@import "blocks/circulos.sass";  *********Clase que alfinal no aplico ya que ese estilo se aplica dentro del archivo de estilos de CABECERA********************

body {
    background: $white;
    font-family: $font-family-base;
    line-height: 1.2em;
    //margin: 0 auto;
}
/* **************************Estilos que habia aplicado directamente en el archivo de importaciones de archivos (no es unap ractica correcta)**************************************
.cabecera{
    background-image: url("../images/jumbo.jpg");
    background-size:cover ;
    width: 100%;
}

.cabecera__iconos{
    background-color: $transparency2;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: center;
    height: 500px;
    flex-direction: column; 
}
.cabecera__iconos2{
    svg:first-child{
        margin-top: 2em;
        margin-right: 6em;
    }
}

*/

