.boton{
    border: none;
    color:$white;
}
.boton-primero{
    background: $gradient-1;
    color: $gradient-1;
    &:hover{
        background: $primary2;
    }
}
.boton-xx{
    border-radius: 4px;
    font-size:1.25em;
    padding: .5em 1em;
}