.cabecera {
    background-image: url(../images/jumbo.jpg);
    background-size: cover;
    width: 100%;

    @media only screen and (min-width: $breakpoint-md) {
        height: 500px;
    }

    @media(-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: url(../images/jumbo@2x.jpg);

    }

    &__iconos {
        //height: 500px;
        background-color: $transparency2;
        //height: 100%;
        padding-left: 2em;
        padding-right: 2em;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media only screen and (min-width:$breakpoint-md) {
            height: 500px;
        }
    }

    &__title {
        padding: 1.2em;

        @media only screen and (min-width: $breakpoint-md) {
            padding: 2em;
        }
    }

    &__iconos2 {
        list-style: none;

        li {
            display: inline-block;

            &:first-child {
                margin-top: 2em;
                margin-right: 1em;
            }
        }

        /*svg:first-child {
            margin-top: 2em;
            margin-right: 6em;
        }*/
    }

    &__iconosBtn {
        width: 95px;
        @media only screen and (min-width: $breakpoint-md) {
            width: auto;
        }
    }
}