.circulo
  background: $gradient-1
  align-items: center
  border-radius: 50%
  width: 50px
  height: 50px
  justify-content: center
  display: flex
  margin: 1.5em auto .75em auto
  color: white
  font-size: 2em
  
  
  