.contenido {
  margin-bottom: 5em;
  margin-top: 2em;
  //margin-right: 2em;
  

  &__titulo{
    margin-bottom: 1em;
    //margin-left: .75em;
    //margin-right: .75em;
    @media only screen and (min-width: $breakpoint-md) {
      text-align: center;
      
    }
  }

  &__lista{
    display: flex;
    margin-bottom: 2em;
    align-content: center;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: $breakpoint-md) {
      display: block;
      text-align: center;
     
    }
    &-cont {
      margin-bottom: .7em;
    }
    &-circulo-a {
      margin-right: 1em;
      @media only screen and (min-width: $breakpoint-md){
        margin-right: 0;
      }
    }
    
    &-circulo {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: $gradient-1;
      margin-bottom: 1em;
      //margin: 1.5em auto .75em auto ;
      border-radius: 50%;
      //margin-left: .5em;
      span {
          display: flex ;
          justify-content: center;
          align-items: center;
          color: $white;
          font-size: 2em;
          height: 100%;
      }
    }
  } 
}

    