.contentForm{
    border: .8px solid $gray1;
    padding: 2em;
    box-shadow: 6px 6px 0 $primary3;
    border-radius: 2%;
    //display: block;
    //align-content: center;
    //align-items: center;
    &__titulo{
        margin-bottom: 1.5em;
    }
    &__grupo{
        margin-bottom: 1.5em;
        label{
            display: block;
            margin-bottom: .5em;
        }
            &-seleccion{
                label{
                display: inline;
                }
            }
    }
    &__step1{
       // display: none;
        border: .5px solid $gray2;
        background: $transparency1;
        padding: 3em;
        margin-top: 1em;
        text-align: center;
        width: 100%;
    }
    

    &__entr{
        display: block;
        width: 100%;
        box-sizing: border-box;
        &[type='text'],
        &[type='email']{
          padding: .7em;
        }
    }
    &__clik{
        height: 2.5em;
    }
}
// .enviado{
//     & .contentForm__step2{
//        // display: none;
//     }
//     & .contentForm__step1{
//         display: block;
//     }

// }