.formulario{
    margin-bottom: 3em;
    &__imagen{
        text-align: center;
    }
    &__imagen-a{
        display: none;
        @media only screen and(min-width:$breakpoint-md){
            display: inline-block;
        }            
        
    }
}