.mapa{
    margin-bottom: 1.5em;

    &__titulo{
    text-align: center;
    padding: 1.2em;
    }
    &__fotoMapa{
        justify-content: center;
        border: .75px solid $gray2;
        padding: .5em;
        margin: .5em;
    }
    iframe{
        max-width: 100%;
        height: 250px;
        //align-content: center;
        //text-align: center;
        @media only screen and (min-width: $breakpoint-md){
            width: 100%;
            height: 500px;
            
        }
    
    }
}

    

