.opinion{
    margin-bottom: 1em;
    @media only screen and (min-width:$breakpoint-md){
        margin-bottom: 0;
    }
    &__bloque{
        margin-bottom: .5em;
        @media only screen and(min-width:$breakpoint-md){
            margin-bottom: 1em;
        }
    }
    &__autor{
        margin-bottom: .3em;
    }
}
.caja{
    border-radius: 12px;
    border: 1px solid $gray1;
    padding: 1em;
}