{% extends "base.html.twig"%}


{% block body %}

    <ul>
        {%for pelicula in movies %}
            <li>{{pelicula.titulo}}</li>
        {%endfor%}
    </ul>

    <a href="{{path("nuevo-formulario")}}">Crear pelicula</a> 

{% endblock %}