{% extends "base.html.twig"%}

{% block body %}

<h1>{{nombre}}</h1>

{{ form_start(formulario) }}

{{ form_widget(formulario) }}

{{ form_end(formulario) }}

<input type="submit" value ="nuevo"> 

{% endblock %}